.product-listing {
    height: 100%;
    width: 85vw;
    margin: auto;
    /* background-color: coral; */
}

.productlisting-wapper {
    margin: auto;
    /* background-color: violet; */
    height: 100%;
    flex-wrap: wrap;
}